.App {
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(31, 31, 30);
}
.section-characteristics{
  height: 200px;
}
.section-fill{
  height: 1000px;
  background-color: rgb(91, 91, 89);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
