.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 2px solid hsl(0, 100%, 50%);
    margin-right: 2rem;
    background-color: hsl(0, 0%, 100%);
    width: 120px;
    height: 90px;
    border-radius: 20px;
    box-sizing: border-box;
}
.heading{
    margin-top: 0.5rem;
    font-size: 1rem;
    color: hsl(0, 0%, 35%);
}
.modContainer{
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
}
.sign{
    position: absolute;
    left: -1rem;
    color: hsl(0, 0%, 35%);
}
.footer{
    margin-bottom: 0;
    font-weight: 500;
}